@model PostosModel
@{
    ViewData["Title"] = "Editar Posto";
}

<div class="text-center">

    <h1>Editar Posto</h1>

</div>

<form asp-controller="Postos" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="nome-posto" class="form-label">Posto</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Insira o nome do posto..">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="endereco-posto" class="form-label">Endereco</label>
        <input type="text" asp-for="Endereco" class="form-control" placeholder="Insira o endereço..">
        @Html.ValidationMessageFor(x => x.Endereco)
    </div>

    <div class="mb-3">
        <label for="preco-gasolina-comum" class="form-label">Gasolina Comum</label>
        <input type="text" asp-for="PrecoGasolinaComum" class="form-control" placeholder="Insira o valor da gasolina comum nesse posto..">
    </div>

    <div class="mb-3">
        <label for="preco-gasolina-aditivada" class="form-label">Gasolina Aditivada</label>
        <input type="text" asp-for="PrecoGasolinaAditivada" class="form-control" placeholder="Insira o valor da gasolina aditivada nesse posto..">
    </div>

    <div class="mb-3">
        <label for="preco-diesel" class="form-label">Diesel</label>
        <input type="text" asp-for="PrecoDiesel" class="form-control" placeholder="Insira o valor do diesel nesse posto..">
    </div>


    <button type="submit" class="btn btn-primary">Editar</button>
    <a role="button" class="btn btn-secondary" asp-controller="Postos" asp-action="Index">Voltar</a>
</form>

